.bgimg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.container{
  padding: 2%;
  margin: auto;
  width: 95%;
  height: 98%;
  display: grid;
  grid-template-columns: repeat(5, minmax(20%, auto));
  grid-template-rows: repeat(10, 1fr);
}
.clock{
  grid-column: 1/4;
  grid-row: 1;
  font-size: 1.5em;
  height: min-content;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  border: 5px solid;
  border-radius: 5px;
  background-color: #FFFFFFDD;
}
.time{
  font-size: 1.8em;
}
.weather{
  grid-column: 4/6;
  grid-row: 1;
  padding: 5px;
  border: 5px solid;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(1fr, 110px));
}
.logbox{
  grid-column: 1/6;
  grid-row: 4/10;
  margin: 0;
}
.list{
  height: 100%;
  padding: 5px;
  border: 5px solid;
  border-radius: 10px;
  background-color: #FFFFFFDD;
  font-size: 1.8em;
  font-weight: bold;
}
.pending, .finished, .nameform{
  display: none;
}
.showing{
  display: block;
}
.todo{
  font-size: 2em;
  grid-column: 1/5;
  grid-row: 3;
  margin: 0;
  padding: 0;
  /* justify-content: center; */
  align-items: center;
}
.btn{ 
  margin-left: auto;
  margin-right: auto;
  grid-column: 5;
  grid-row: 3;
  background-color: white;
  border-radius: 5px;
  border: 3px solid;
  width: min-content;
  height: min-content;
  font-size: 1.8em;
  font-weight: bold;
}
.todoinput{
  border: none;
  border-bottom: 2px solid;
  font-size: 0.8em;
}

.greeting{
  font-weight: bold;
  text-align: center;
}
.greetinginput{
  border: none;
  border-bottom: 2px solid;
  font-size: 0.8em;
}
.js-greetingbox{
  grid-column: 1/5;
  grid-row: 2;
  font-size: 2em;
}

.temp{
  grid-column: 1;
  grid-row: 2;
  width: min-content;
  height: min-content;
  text-align: center;
}